.da-userPopout .da-headerTop {padding: 0}
.da-userPopout {border-radius: var(--profileradius)}
.da-userPopout .da-avatarWrapper,
.da-userPopout .da-wrapper,
#app-mount .da-userPopout .da-avatarWrapper .da-image {
    image-rendering: auto;
    border-color: transparent;
    background-color: transparent;
    margin: 0px 0px 0px;
    width: 100%;
    height: 245px;
    display: flex;
    flex: 1;
    background-size: 250px 250px;
    border-radius: 0 !important;
    background-position: 0;
    background-repeat: no-repeat;
    position: relative;
    -webkit-mask: none;
    mask: none;
    }
.da-userPopout .da-header:hover .da-avatarWrapper {filter: grayscale(14%);transition: filter 500ms ease-out;}
.da-userPopout .da-header {height: 250px;transition: filter 100ms;background: none;border: none;color: transparent;z-index: 2;padding: 0}
.da-userPopout .da-avatarWrapper.no-hover {min-height: 250px;top: 9px;}
.da-userPopout .da-headerPlaying {height: 350px;background-color: #2f3136}
.da-userPopout .da-header:hover .da-headerText {
    width: 200px;margin-top: -180px;border-radius: 10px;position: absolute;top: 342px;transition: top 170ms ease-out}
.da-userPopout .da-headerText {
    width: 200px;top: 180px;
    position: absolute;
    transition: top 270ms ease-in-out;z-index: 0}
.da-userPopout .da-headerStreaming .da-headerLive:hover {background-color: transparent}
.da-userPopout .da-header:hover .da-avatarWrapper .da-avatarHint {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
    border-radius: 0;transition: opacity 300ms ease-in 80ms;opacity: 1}
.da-userPopout .da-avatarWrapper .da-avatarHint {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
    box-shadow: none;opacity: 0;
    border-radius: 0;transition: opacity 180ms ease-out 100ms;
    -webkit-mask: none;mask: none}
.da-userPopout :-webkit-any(.da-nameTag, .da-headerActivityText, .da-headerTag,.da-headerName),.da-userPopout .creationDate {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 15%,rgba(0,0,0,0.4) 85%,rgba(0,0,0,0) 100%);
    width: 200px;max-width: 200px;padding: 0 ;
    overflow:hidden;white-space: nowrap}
.da-userPopout .da-headerText .da-nameTag {margin-bottom: 4px}
.da-userPopout .da-headerText .da-headerActivityText {height: 0px;overflow: hidden;word-break: break-all;margin: 0}
.da-userPopout .da-header:hover .da-headerText .da-headerActivityText {height: auto;max-height: 35px}
#app-mount .da-userPopout .da-avatarWrapper .da-statusProfile {
    bottom: -8px;width: 250px;height: 8px;left: 0;
    box-shadow: inset 0 0 0 1.8px rgba(255,255,255,.2) !important;
    border-radius: 0;z-index: 4;border: none}
#app-mount .da-userPopout .da-statusProfile.da-online {background-color: #43b581}
#app-mount .da-userPopout .da-statusProfile.da-streaming {background-color: #593695}
#app-mount .da-userPopout .da-statusProfile.da-dnd {background-color: #f04747}
#app-mount .da-userPopout .da-statusProfile.da-idle {background-color: #faa61a}
#app-mount .da-userPopout .da-statusProfile.da-invisible {background-color: #1a36fa}
#app-mount .da-userPopout .da-statusProfile.da-offline {background-color: #747f8d}
.da-userPopout .da-header:hover .da-avatarWrapper .da-statusProfile {filter: contrast(105%);transition: filter 480ms ease-out}
.da-userPopout .da-body .da-bodyTitleText {margin-top: 10px;margin-bottom: 4px}
.da-userPopout .da-headerText .da-nameTag,.da-userPopout  .da-headerName,
.da-userPopout .da-headerTagUsernameNoNickname {color: var(--color)}
.da-userPopout .da-headerText .da-nameTag,
.da-userPopout .da-headerText .da-headerTag,
.da-userPopout .da-header:hover .da-headerText .da-headerActivityText,
.da-userPopout .da-header:hover .creationDate {
    opacity: 1;overflow: hidden;transition: opacity 200ms ease-in;
    transition-delay: 170ms;text-align: center}
.da-userPopout .da-headerText .da-headerActivityText,
.da-userPopout .da-headerStreaming .da-headerLive {
    position: fixed;top: 20px;left: 34px;
    border-top: none;border-bottom: 1px solid rgba(255,255,255,.08);
    background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,0.05) 15%,rgba(250,250,250,0.05) 85%,rgba(250,250,250,0) 100%);
    padding: 4px 25px;width: auto}
.da-userPopout .da-headerStreaming {padding-bottom: 6px;}
.da-userPopout .da-headerStreaming .da-avatarStatus {bottom: -6px}
.da-userPopout .da-headerStreaming .da-avatar {padding-bottom: 4px;top: -2px}
.da-userPopout .da-body {z-index: 1;padding-top: 14px}
.da-userPopout .da-footer {z-index: 1}
.da-userPopout .da-avatarWrapper .da-avatar::after {transform: scale(1);border-radius: 0}
.da-userPopout .da-avatarWrapper:active, .da-userPopout .da-avatarWrapper:hover {box-shadow: none}
#app-mount .da-userPopout .da-avatarHint {border-radius:0}
.da-userPopout .da-maskProfile{mask:none;-webkit-mask:none}
.da-userPopout .da-header .creationDate {text-shadow: 1px 1px 1px #000;color:var(--color)}
