<?xml version="1.0" encoding="utf-8"?>
<list>
    <item>
        <key>Пятый канал</key>
        <value>http://zabava-htlive.cdn.ngenix.net/hls/CH_5TV/bw2000000/variant.m3u8</value>
    </item>
	<item>
        <key>Amedia Hit HD</key>
        <value>https://sc.id-tv.kz/amedia_hit_hd_34_35.m3u8</value>
    </item>
	<item>
        <key>Fox HD</key>
        <value>https://sc.id-tv.kz/FOX_HD_34_35.m3u8</value>
    </item>
        <item>
        <key>СТС</key>
        <value>http://zabava-htlive.cdn.ngenix.net/hls/CH_STS/bw2000000/variant.m3u8?version=2</value>
    </item>
	<item>
        <key>НТВ</key>
        <value>http://zabava-htlive.cdn.ngenix.net/hls/CH_NTV/bw2000000/variant.m3u8?version=2</value>
    </item>
</list>