.da-guildsWrapper{width: 120px !important;}
.da-guildsWrapper .da-scrollerWrap{width: 135px !important;}
.da-guildsWrapper .da-guilds {padding-bottom:35px !important;display: flex !important;flex-flow: row wrap !important; padding-left: 0 !important;align-content: flex-start !important;}
.da-guildsWrapper .da-guilds .da-guild {margin-left: 5px !important;margin-top: 5px !important;}
.da-guildsWrapper .da-guilds .da-guild.da-unread::before {left: -2px !important;top: 5px !important;z-index:9000 !important;}
.da-guildsWrapper .da-guilds .da-guild:first-child {position: relative !important;left:30px !important;top:-5px !important;}
.da-guildsWrapper .da-guilds .da-guildSeparator {position: relative !important;width: 100% !important;}
.da-guildsWrapper .da-guilds .da-friendsOnline {position: relative !important;margin: auto !important;top:25px !important;}
.da-guildsWrapper .da-guilds .da-guildSeparator:after,
.da-guildsWrapper .da-guilds .da-guild.da-selected:before {visibility: hidden !important;}
.da-guildsWrapper .da-guilds .da-dms {width: 100% !important;display: flex !important;flex-flow: row wrap !important;}
.da-guildsWrapper .da-guilds .da-dms .da-guild {top:15px !important;left:0 !important;}
#bd-pub-li {position: relative !important;left: -25px !important;top:50px !important;}
#RANbutton-frame {left:30px !important;top:15px !important;}
