.da-messageCozy .da-avatar .da-large {
    box-shadow: 0 0 0 2px rgba(145, 145, 145, 0.25) !important;
}
.da-containerCozy .da-divider  {
    border-bottom-color: rgba(145, 145, 145, 0.25) !important;
}
.da-membersWrap {
    min-width: 280px !important;
}
.da-members {
    max-width: 280px !important;
}
.da-memberInner {
    width: 210px !important;
}
.da-membersGroup {
    font-weight: bold !important;
    text-shadow:
    0 0 4px rgb(0,0,0),
    0 0 4px rgb(0,0,0),
    0 0 16px rgb(255, 255, 255) !important;
    overflow: visible !important;
}
.da-timestampCozy {
    color: rgba(145, 145, 145, 0.75) !important;
}
.da-avatarDefault{
    border-radius: 2px !important;
    box-shadow: 0 0 0 2px rgba(145, 145, 145, 0.25) !important;
}
.da-avatarSpeaking{
    border-radius: 2px !important;
    box-shadow: 0 0 0 2px rgba(145, 145, 145, 0.25) !important;
}
.da-avatarSpeaking:after {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    top: 2px;
    left: -18px;
    background-image: url(https://github.com/Messiah7/Messiah7.github.io/raw/master/DiscordIMG/voiceicon_loud_png.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.da-guildsWrapper{width: 120px;}
.da-guildsWrapper .da-scrollerWrap{width: 135px;}
.da-guildsWrapper .da-guilds {padding-bottom:35px;display: flex;flex-flow: row wrap; padding-left: 0;align-content: flex-start;}
.da-guildsWrapper .da-guilds .da-guild {margin-left: 5px;margin-top: 5px;}
.da-guildsWrapper .da-guilds .da-guild.da-unread::before {left: -2px;top: 5px;z-index:9000;}
.da-guildsWrapper .da-guilds .da-guild:first-child {position: relative;left:30px;top:-5px;}
.da-guildsWrapper .da-guilds .da-guildSeparator {position: relative;width: 100%;}
.da-guildsWrapper .da-guilds .da-friendsOnline {position: relative;margin: auto;top:25px;}
.da-guildsWrapper .da-guilds .da-guildSeparator:after,
.da-guildsWrapper .da-guilds .da-guild.da-selected:before {visibility: hidden;}
.da-guildsWrapper .da-guilds .da-dms {width: 100%;display: flex;flex-flow: row wrap;}
.da-guildsWrapper .da-guilds .da-dms .da-guild {top:15px;left:0;}
#bd-pub-li {position: relative;left: -25px;top:50px;}
#RANbutton-frame {left:30px;top:15px;}