:root {
--online:linear-gradient(to bottom, #00FF00 0%, #00A300 100%);
--streaming:linear-gradient(to bottom, #9B65FF 0%, #6441A4 100%);
--dnd:linear-gradient(to bottom, #F00000 0%, #A30000 100%);
--idle:linear-gradient(to bottom, #FFFF00 0%, #A3A301 100%);
--invisible:linear-gradient(to bottom, #85A0FF 0%, #5465A1 100%);
--offline:linear-gradient(to bottom, #5E636E 0%, #3B3E45 100%);
--unknown:linear-gradient(to bottom, #5E636E 0%, #3B3E45 100%);
--size:calc(100% + 4px);
}

.da-online:before {
    background: var(--online);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-streaming:before {
    background: var(--streaming);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-dnd:before {
    background: var(--dnd);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-idle:before {
    background: var(--idle);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-invisible:before {
    background: var(--invisible);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-offline:before {
    background: var(--invisible);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.da-unknown:before {
    background: var(--invisible);
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: -2px;
    left: -2px;
}
.avatar-small,
.da-player .da-avatar .da-mask,
.da-inner .da-avatar .da-maskProfile,
.da-inner .da-body .da-listAvatar .da-mask,
.da-membersWrap .da-members .da-member .da-mask {
    position: relative;
    z-index: 1;
}
.friends-suggestion-inner .avatar-large {
    border-radius: 3%;
}